### 1.Load data files(train_u6lujuX_CVtuZ9i.csv and test_Y3wMUE5_7gLdaTN.csv)

In [70]:
import pandas as pd

In [71]:
train = pd.read_csv('train_u6lujuX_CVtuZ9i.csv')

In [72]:
test = pd.read_csv('test_Y3wMUE5_7gLdaTN.csv')

### 2.Types of data columns

In [73]:
train.dtypes
test.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome      int64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
dtype: object

### DATA CLEANING AND PREPROCESSING

### 3.Find missing values

In [74]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [75]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

### 4.Impute missing values with mean (numerical variables)

In [76]:
#train data
train.fillna(train.mean(),inplace = True)

In [77]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [78]:
#Test data
test.fillna(test.mean(), inplace = True)

In [79]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term      0
Credit_History        0
Property_Area         0
dtype: int64

### 5.Impute missing values with mode (categorical variables)

In [80]:
#train data
train.Gender.fillna(train.Gender.mode()[0], inplace = True)
train.Dependents.fillna(train.Dependents.mode()[0], inplace = True)
train.Self_Employed.fillna(train.Self_Employed.mode()[0], inplace = True)
train.Married.fillna(train.Married.mode()[0], inplace = True)
train.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [81]:
#Test data
test.Gender.fillna(test.Gender.mode()[0], inplace = True)
test.Dependents.fillna(test.Dependents.mode()[0], inplace = True)
test.Self_Employed.fillna(test.Self_Employed.mode()[0], inplace = True)

### PREDICTIVE MODELLING

### 6.Remove Loan_ID variable - Irrelevant

In [20]:
train.drop('Loan_ID', axis = 1)
test.drop('Loan_ID', axis = 1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.000000,Urban
1,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.000000,Urban
2,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.000000,Urban
3,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,0.825444,Urban
4,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.000000,Urban
...,...,...,...,...,...,...,...,...,...,...,...
362,Male,Yes,3+,Not Graduate,Yes,4009,1777,113.0,360.0,1.000000,Urban
363,Male,Yes,0,Graduate,No,4158,709,115.0,360.0,1.000000,Urban
364,Male,No,0,Graduate,No,3250,1993,126.0,360.0,0.825444,Semiurban
365,Male,Yes,0,Graduate,No,5000,2393,158.0,360.0,1.000000,Rural
366,Male,No,0,Graduate,Yes,9200,0,98.0,180.0,1.000000,Rural

### 7.Create target variable

In [21]:
X = train.drop('Loan_Status', axis = 1)
Y = train.Loan_Status

### 8.Build dummy variables for categorical variables

In [22]:
X = pd.get_dummies(X)
train = pd.get_dummies(train)
test = pd.get_dummies(test)

### 9.Split train data for cross validation

In [82]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state =10)

### (a)LOGISTIC REGRESSION ALGORITHM

### 10.Fit model

In [83]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr_model = lr.fit(x_train, y_train)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

### 11.Predict values for cv data

In [84]:
y_pred = lr.predict(x_test)

### 12.Print classification report

In [85]:
from sklearn.metrics import classification_report
print (classification_report(y_pred, y_test))

              precision    recall  f1-score   support

           N       0.33      0.92      0.49        13
           Y       0.99      0.78      0.87       110

    accuracy                           0.80       123
   macro avg       0.66      0.85      0.68       123
weighted avg       0.92      0.80      0.83       123

### 13.Evaluate accuracy of model

In [86]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

ac_lr = accuracy_score(y_pred, y_test)
conf_lr = confusion_matrix(y_pred, y_test)

### (b)DECISION TREE ALGORITHM

### 14.Fit model

In [87]:
from sklearn import tree
dt = tree.DecisionTreeClassifier(criterion = 'entropy')
dt.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

### 15.Predict values for cv data

In [88]:
dt_pred = dt.predict(x_test)

### 16.Evaluate accuracy of model

In [89]:
from sklearn.metrics import accuracy_score
cm_dt = accuracy_score(dt_pred, y_test)

### (c)SUPPORT VECTOR MACHINE (SVM) ALGORITHM

### 17.Fit model

In [90]:
from sklearn import svm
svm_model = svm.SVC()
svm_model.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

### 18.Predict values for cv data

In [91]:
svm_pred = svm_model.predict(x_test)

### 19.Evaluate accuracy of model

In [92]:
svm_ac = accuracy_score(svm_pred, y_test)

### (d)NAIVE BAYES ALGORITHM

### 20.Fit model

In [93]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
nb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

### 21.Predict values for cv data

In [94]:
nb_pred = nb.predict(x_test)

### 22.Evaluate accuracy of model

In [95]:
nb_accur = accuracy_score(nb_pred, y_test)

### KNN

In [96]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [97]:
kn_pred = knn.predict(x_test)

In [98]:
from sklearn.metrics import classification_report, confusion_matrix
print('Confusion matrix ''\n',confusion_matrix(kn_pred, y_test))
print(classification_report(kn_pred, y_test))

Confusion matrix
 [[ 5 17]
 [31 70]]
              precision    recall  f1-score   support

           N       0.14      0.23      0.17        22
           Y       0.80      0.69      0.74       101

    accuracy                           0.61       123
   macro avg       0.47      0.46      0.46       123
weighted avg       0.69      0.61      0.64       123

### Random Forest

In [104]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [107]:
rf_pred = rf.predict(x_test)

In [108]:
accuracy_score(rf_pred, y_test)

0.7886178861788617

In [57]:
#Select best model in order of accuracy
#Naive Bayes - 
#Logistic Regression - 
#Decision Tree - 
#Support Vector Machine -