In [2]:
# -----------------------------------------------------------------
# Decision Tree Classifier
# Predict the income of an adult based on the census data
# -----------------------------------------------------------------

# Import libraries
import pandas as pd
import numpy as np

In [31]:
# Read dataset
data = pd.read_csv("decisiontreeAdultincome.csv")

In [5]:
# Check for Null values
data.isnull().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [91]:
# Create Dummy variables
data.dtypes
data.head()
X = pd.get_dummies(data, drop_first = True)

In [92]:
# Create X and Y Variables
data.head()
X = X.iloc[:, :-1]
Y = X.iloc[:,-1]

In [68]:
data.head()

,age,wc,education,marital status,race,gender,hours per week,IncomeClass
0,38,Private,HS-grad,Divorced,White,Male,40,<=50K
1,28,Private,Bachelors,Married,Black,Female,40,<=50K
2,37,Private,Masters,Married,White,Female,40,<=50K
3,31,Private,Masters,Never-married,White,Female,50,>50K
4,42,Private,Bachelors,Married,White,Male,40,>50K

In [93]:
# Split the X and Y dataset into training and testing set
from sklearn.model_selection import train_test_split
X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size = 0.3, random_state = 7)

In [94]:
# Import and train classifier
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
cls = dt.fit(X_train, Y_train)

In [95]:
# Test the model
y_pred = dt.predict(x_test)

In [97]:
# Evaluate the model
from sklearn import metrics
print("Evaluation""\n", metrics.accuracy_score(y_test, y_pred))
print(metrics.classification_report(y_test, y_pred))

Evaluation
 1.0
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1995
           1       1.00      1.00      1.00      3942

    accuracy                           1.00      5937
   macro avg       1.00      1.00      1.00      5937
weighted avg       1.00      1.00      1.00      5937