### Predict the marks obtained based on the Number of hours studied and the number of hours slept

### 1.Import Pandas for data processing

In [38]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

### 2.Read the CSV file

In [8]:
df = pd.read_csv("02Students.csv")
df = pd.DataFrame(df)
df

    Hours  sHours  Marks
0       0       6     34
1       1       7     36
2       1       6     33
3       1       8     39
4       1       8     42
5       2       8     45
6       2       6     38
7       3       6     45
8       3       7     53
9       3       7     46
10      3       8     56
11      4       8     59
12      4       7     55
13      4       7     56
14      5       8     72
15      5       6     59
16      6       6     62
17      6       7     71
18      7       8     78
19      7       8     88
20      7       6     61
21      7       6     74
22      8       7     71
23      8       8     89
24      9       8     82
25      9       5     67
26      9       8     89
27     10       8     81
28     10       8     82
29     11       7     79

### 3.Split into X (Independent) and Y (predicted)

In [15]:
X = pd.DataFrame(np.c_[df['Hours'],df['sHours']], columns = ['Hours', 'Sleep'])

In [16]:
#view X
X

    Hours  Sleep
0       0      6
1       1      7
2       1      6
3       1      8
4       1      8
5       2      8
6       2      6
7       3      6
8       3      7
9       3      7
10      3      8
11      4      8
12      4      7
13      4      7
14      5      8
15      5      6
16      6      6
17      6      7
18      7      8
19      7      8
20      7      6
21      7      6
22      8      7
23      8      8
24      9      8
25      9      5
26      9      8
27     10      8
28     10      8
29     11      7

In [17]:
#view Y
Y = df['Marks']

### 4.Split train and test data with 30% test size

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,Y, test_size = 0.3, random_state = 12)

### 5.Train the Multiple Linear Regression

In [24]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

### 6.Provide the training Data

In [ ]:
mlr = lm.fit(x_train, y_train)

### 7.Predict the results

In [32]:
y_predict = lm.predict(x_test)

### 8.Get the R-Squared

In [40]:
from sklearn.metrics import r2_score
rsqr = r2_score(y_test, y_predict)
rsqr

0.8709073466775985

### 9.Coefficient and Intercept

In [27]:
coef = lm.coef_

In [28]:
#view mlr_coefficient 
coef

array([4.77508361, 4.99314381])

In [30]:
#view mlr_intercept 
inter = lm.intercept_
inter

0.636956521739144

### 10.Calculate the errors using RMSE

In [46]:
from sklearn import metrics
rmse = np.sqrt(metrics.mean_squared_error(y_test, y_predict))
rmse

5.7624212931849295